/* flex? grid? absolute? */
[id^="layout"] {
  margin: 5px;
  background-color: rgba(15, 15, 15, 0.541);

  font-size: 16px;
  text-align: center;
}

#main-view {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 5px;
  height: 100vh;
}

#layout-bg {
  height: 0;
}
#layout-weather {
  text-align: right;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  height: 60px;
}

#layout-bg-info {
  width: 15%;
}

#layout-todoList {
  text-align: right;
  width: 15%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
}

.model{
    background:rgba(0, 0, 0, 0.8);
    width: 200px;
    height: 200px;
    position: absolute;
    right: 0%;
    bottom: 0%;
}
.model-overlay{
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}